.Background img{
    width:100%;
    position:fixed;
    top:0;
    bottom:0;
    right:0;    left:0;
    z-index:1;
    opacity:.8;
    transition:1s;
}
.Background:hover img{
    opacity:1;
}